<h2 style="text-align:center;">Drag and Drop List</h2>
<textarea readonly style="width:100%" rows="10">
    <pro-draglist [activeList]="activeList" [dragOptions]="" [proWidth]="'500px'" [dragger]="true"
        [inactiveList]="inactiveList" (draggerListOpts)="Options($event)">
        </pro-draglist>
    </textarea>
<div class="panel-section">
     <pro-draglist [activeList]="activeList" [dragOptions]="" [proWidth]="'500px'" [dragger]="true"
    [inactiveList]="inactiveList" (draggerListOpts)="Options($event)" >
    </pro-draglist>
</div>